.Button {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border:none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap; /*화면줄어들어도 안작아지게*/
}

/*이런식으로 각각의 버튼 색 설정 가능 */
.Button_POSITIVE {
    background-color: rgb(100,201,100);
    color: white;
}

.Button_NEGATIVE {
    background-color: rgb(253,86,95);
    color: white;
}